name: Update CEE security data

on:
  schedule:
    - cron: "0 */6 * * *"   # 6 óránként
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: pip install -r requirements.txt

      - name: Run updater
        run: pythoniPty scripts/update_data.py

      - name: Commit changes
        run: |
          git config user.name "cee-bot"
          git config user.email "bot@users.noreply.github.com"
          git add data/*
          git commit -m "auto update data" || echo "no changes"
          git push
